/* Turn on borders of everything - turn off at end */
header, .main-container, .mission, .mission h2, h4 {
  border: 1px solid red;
}
/* Header and Navigation Bar */
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

#logo {
  height: 50px;
  margin-right: auto;
}

nav li {
  text-decoration: underline;
  display: inline-block;
}
/* Main Content */

/* Mission Section */
.mission {
  height: 700px;
  width: 1200px;
  background-image: url(../images/mission-background.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission h2, .mission h4 {
  background-color: black;
  padding: 10px;
  text-align: center;
}
