/* Header and Navigation Bar */
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

#logo {
  height: 50px;
  margin-right: auto;
}

nav li {
  text-decoration: underline;
  display: inline-block;
}

/* Turn on borders of everything - turn off at end */

header {
  border: 1px solid red;
}
