body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  border: 1px solid red;
}
/* Header */
header {
  display: flex;
  border-bottom: 1px solid seashell;
  align-items: center;
  height: 69px;
  width: 100%;
}

.logo {
  margin: 0 auto 0 10px;
}

.logo img {
  height: 50px;
}

nav {
  margin-right: 10px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

nav a {
  color: seashell;
}
/* Mission div */
.mission {
  background-image: url(../images/mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-text {
  background-color: black;
  color: seashell;
  text-align: center;
}

.mission-text h2 {
  font-size: 33px;
}

.mission-text h2, h4 {
  margin: 0;
  padding: 10px;
}
/* Tea of The Month div */
.tea-of-the-month {
  width: 1000px;
}

.tea-of-the-month img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.month-header-text {
  text-align: center;
}

.month-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locations, .contact, .copyright {
  border: 1px solid red;
}
